body {
	background-color: black !important;
}
img {
	width: 7%;
}
#mainText {
	padding-top: 15%;
}
.text {
	color: #219c90;
	font-size: 50px;
}
.clock {
	font-size: 55px;
	color: #ee9322;
}
.clock > span {
	width: 100%;
	border: 1px solid #ee9322;
	border-right: 1px solid black;
	border-style: double;
	border-width: medium;
	font-size: 40px;
	padding-left: 5px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
